<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Find a home</h1>
    <p>Live wherever and however you want</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" name="where" placeholder="Where?">
      <input type="text" class="form-control input-lg" name="when" placeholder="When?">
    </form>
    <a class="btn btn-primary btn-lg">Begin</a>
  </div>
</div>
