<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Find a home</h1>
    <p>Live wherever and however you want</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" name="where" placeholder="Where?">
      <input type="text" class="form-control input-lg" name="when" placeholder="When?">
      <select name id class="form-control input-lg">
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
        <option value="4">4 persons</option>
        <option value="more">More than 4</option>
      </select>
      <a class="btn btn-primary btn-lg">Begin</a>
    </form>
  </div>
</div>
