.banner {
    color: white;
    text-align: center;
    height: 100vh;
    background-size: cover !important;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.banner-content{
  box-sizing: border-box;
}
